/* General Styles */

h2 {
  font-size: 32px;
  text-align: center;
}

.bg {
  overflow: hidden;
  transition: 0.2s all linear;
  background-color: grey;
}

.heading {
  text-transform: uppercase;
  transition: 0.2s all linear;
  text-align: center;
}

.btn {
  text-align: center;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all linear;
}

.para {
  transition: 0.2s all linear;
}

/* Light Mode Styles */

.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #222;
}

.classement {
  padding-top: 15px;
  padding-bottom: 15px;
}
